<?xml version="1.0" encoding="UTF-8"?>
<window id="4">
  <backgroundcolor>aliceblue</backgroundcolor>
  <defaultcontrol always="true">52</defaultcontrol>
  <allowoverlay>no</allowoverlay>
  <include>OpenClose</include>
  <controls>
    <include>BlackBackground</include>
    <control type="group">
      <left>1020</left>
      <top>131</top>
      <control type="fixedlist" id="52">
        <width>902</width>
        <height>891</height>
        <onleft>noop</onleft>
        <onright>noop</onright>
        <onup>52</onup>
        <ondown>52</ondown>
        <pagecontrol>60</pagecontrol>
        <viewtype label="_52">52</viewtype>
        <focusposition>5</focusposition>
        <movement>5</movement>
        <preloaditems>4</preloaditems>
        <scrolltime tween="sine" easing="inout">280</scrolltime>
        <itemlayout width="802" height="81">
          <control type="image">
            <height>70</height>
            <width>840</width>
            <texture colordiffuse="77FFFFFF">images/white.png</texture>
          </control>
          <include>Arrow</include>
          <control type="label" description="Main Label">
            <include>52MainLabel</include>
            <label>$INFO[ListItem.Label]</label>
          </control>
        </itemlayout>
        <focusedlayout width="802" height="81">
          <control type="group">
            <animation effect="zoom" time="120" start="100" end="105" center="auto" tween="Back" easing="Out">Focus</animation>
            <control type="image">
              <top>12</top>
              <left>-50</left>
              <height>70</height>
              <width>940</width>
              <texture>shadow.png</texture>
            </control>
            <control type="image">
              <height>70</height>
              <width>840</width>
              <texture>images/white.png</texture>
            </control>
            <include>Arrow</include>
            <control type="label" description="Main Label">
              <include>52MainLabelFO</include>
              <label>$INFO[ListItem.Label]</label>
            </control>
          </control>
        </focusedlayout>
        <content>
          <item id="0" description="Appearance">
            <label>480</label>
            <onclick>activatewindow(AppearanceSettings)</onclick>
          </item>
          <item id="1" description="Skin Settings">
            <label>20077</label>
            <onclick>activatewindow(SkinSettings)</onclick>
          </item>
          <item id="3" description="Videos">
            <label>3</label>
            <onclick>activatewindow(VideosSettings)</onclick>
          </item>
          <item id="4" description="Music">
            <label>2</label>
            <onclick>activatewindow(MusicSettings)</onclick>
          </item>
          <item id="14" description="LiveTV">
            <label>31059</label>
            <onclick>activatewindow(PVRSettings)</onclick>
          </item>
          <item id="5" description="Pictures">
            <label>1</label>
            <onclick>activatewindow(PicturesSettings)</onclick>
          </item>
          <item id="6" description="Addons">
            <label>24001</label>
            <onclick>activatewindow(AddonBrowser,root)</onclick>
          </item>
<!--           <item id="8" description="Weather">
            <label>8</label>
            <onclick>activatewindow(WeatherSettings)</onclick>
          </item> -->
          <item id="9" description="Services">
            <label>14036</label>
            <onclick>Activatewindow(servicesettings)</onclick>
          </item>
          <item id="10" description="System">
            <label>13000</label>
            <onclick>activatewindow(SystemSettings)</onclick>
          </item>
          <item id="11" description="Profiles">
            <label>13200</label>
            <onclick>ActivateWindow(Profiles)</onclick>
          </item>
          <item id="12" description="File manager">
            <label>10003</label>
            <onclick>ActivateWindow(filemanager)</onclick>
          </item>
          <item id="15" description="openELEC">
            <visible>System.HasAddon(service.openelec.settings)</visible>
            <label>$ADDON[service.openelec.settings 600]</label>
            <onclick>RunAddon(service.openelec.settings)</onclick>
          </item>
          <item id="13" description="Sys Info">
            <label>$LOCALIZE[138]</label>
            <onclick>activatewindow(systeminfo)</onclick>
          </item>
        </content>
      </control>
    </control>
    <control type="group" description="Left panel">
      <left>306</left>
      <control type="image" description="Logo">
        <visible>!Container(52).HasFocus(1)</visible>
        <animation effect="fade" time="100">VisibleChange</animation>
        <top>148</top>
        <width>384</width>
        <height>114</height>
        <aspectratio align="center" aligny="bottom">keep</aspectratio>
        <texture background="true">images/mrmc_logo.png</texture>
      </control>
      <control type="image" description="Logo">
        <visible>Container(52).HasFocus(1)</visible>
        <animation effect="fade" time="100">VisibleChange</animation>
        <top>148</top>
        <width>384</width>
        <height>192</height>
        <aspectratio align="center" aligny="bottom">keep</aspectratio>
        <texture background="true">images/Sio2Logo.png</texture>
      </control>
    </control>
    <control type="group" description="Items description">
      <left>165</left>
      <top>400</top>
      <control type="label" description="Appearance">
        <visible>Container(52).HasFocus(0)</visible>
        <width>660</width>
        <height>625</height>
        <font>size33</font>
        <wrapmultiline>true</wrapmultiline>
        <scroll>false</scroll>
        <aligny>top</aligny>
        <align>center</align>
        <label>$LOCALIZE[33051] $LOCALIZE[166]. [CR][CR]$LOCALIZE[14090]. [CR][CR]$LOCALIZE[14081]. [CR][CR]$LOCALIZE[24008]</label>
      </control>
      <control type="label" description="Skin">
        <visible>Container(52).HasFocus(1)</visible>
        <width>660</width>
        <height>625</height>
        <font>size33</font>
        <wrapmultiline>true</wrapmultiline>
        <scroll>false</scroll>
        <aligny>top</aligny>
        <align>center</align>
        <label>$LOCALIZE[20077]. [CR][CR]$LOCALIZE[33063]. [CR][CR]$LOCALIZE[111].</label>
      </control>
      <control type="label" description="Videos">
        <visible>Container(52).HasFocus(3)</visible>
        <width>660</width>
        <height>625</height>
        <font>size33</font>
        <wrapmultiline>true</wrapmultiline>
        <scroll>false</scroll>
        <aligny>top</aligny>
        <align>center</align>
        <label>$LOCALIZE[14022]. [CR][CR]$LOCALIZE[14086]. [CR][CR]$LOCALIZE[14081]. [CR][CR]$LOCALIZE[24012]. [CR][CR]$LOCALIZE[14087]</label>
      </control>
      <control type="label" description="Music">
        <visible>Container(52).HasFocus(4)</visible>
        <width>660</width>
        <height>625</height>
        <font>size33</font>
        <wrapmultiline>true</wrapmultiline>
        <scroll>false</scroll>
        <aligny>top</aligny>
        <align>center</align>
        <label>$LOCALIZE[14022]. [CR][CR]$LOCALIZE[14086]. [CR][CR]$LOCALIZE[14081]. [CR][CR]$LOCALIZE[15221]. [CR][CR]$LOCALIZE[620]. [CR][CR]$LOCALIZE[13327]</label>
      </control>
      <control type="label" description="Pictures">
        <visible>Container(52).HasFocus(5)</visible>
        <width>660</width>
        <height>625</height>
        <font>size33</font>
        <wrapmultiline>true</wrapmultiline>
        <scroll>false</scroll>
        <aligny>top</aligny>
        <align>center</align>
        <label>$LOCALIZE[14081]. [CR][CR]$LOCALIZE[108].</label>
      </control>
      <control type="label" description="Add-Ons">
        <visible>Container(52).HasFocus(6)</visible>
        <width>660</width>
        <height>625</height>
        <font>size33</font>
        <wrapmultiline>true</wrapmultiline>
        <scroll>false</scroll>
        <aligny>top</aligny>
        <align>center</align>
        <label>31037</label>
      </control>
<!--       <control type="label" description="Weather">
        <visible>Container(52).HasFocus(8)</visible>
        <width>660</width>
        <height>625</height>
        <font>size33</font>
        <wrapmultiline>true</wrapmultiline>
        <scroll>false</scroll>
        <aligny>top</aligny>
        <align>center</align>
        <label>$LOCALIZE[5].</label>
      </control> -->
      <control type="label" description="Services">
        <visible>Container(52).HasFocus(9)</visible>
        <width>660</width>
        <height>625</height>
        <font>size33</font>
        <wrapmultiline>true</wrapmultiline>
        <scroll>false</scroll>
        <aligny>top</aligny>
        <align>center</align>
        <label>$LOCALIZE[128]. [CR][CR]$LOCALIZE[20110]. [CR][CR]$LOCALIZE[33101]. [CR][CR]$LOCALIZE[790]. [CR][CR]$LOCALIZE[1259]. [CR][CR]$LOCALIZE[1273]. [CR][CR]$LOCALIZE[1200].</label>
      </control>
      <control type="label" description="System">
        <visible>Container(52).HasFocus(10)</visible>
        <width>660</width>
        <height>625</height>
        <font>size33</font>
        <wrapmultiline>true</wrapmultiline>
        <scroll>false</scroll>
        <aligny>top</aligny>
        <align>center</align>
        <label>$LOCALIZE[21373]. [CR][CR]$LOCALIZE[337]. [CR][CR]$LOCALIZE[14094]. [CR][CR]$LOCALIZE[798]. [CR][CR]$LOCALIZE[14095]. [CR][CR]$LOCALIZE[14092]. [CR][CR]$LOCALIZE[12360].</label>
      </control>
      <control type="label" description="Profiles">
        <visible>Container(52).HasFocus(11)</visible>
        <width>660</width>
        <height>625</height>
        <font>size33</font>
        <wrapmultiline>true</wrapmultiline>
        <scroll>false</scroll>
        <aligny>top</aligny>
        <align>center</align>
        <label>$LOCALIZE[20096]. [CR][CR]$LOCALIZE[20100]. [CR][CR]$LOCALIZE[20115].</label>
      </control>
      <control type="label" description="File manager">
        <visible>Container(52).HasFocus(12)</visible>
        <width>660</width>
        <height>625</height>
        <font>size33</font>
        <wrapmultiline>true</wrapmultiline>
        <scroll>false</scroll>
        <aligny>top</aligny>
        <align>center</align>
        <label>$LOCALIZE[115], $LOCALIZE[116], $LOCALIZE[117], $LOCALIZE[118] $LOCALIZE[744].</label>
      </control>
      <control type="label" description="System info">
        <visible>Container(52).HasFocus(13)</visible>
        <width>660</width>
        <height>625</height>
        <font>size33</font>
        <wrapmultiline>true</wrapmultiline>
        <scroll>false</scroll>
        <aligny>top</aligny>
        <align>center</align>
        <label>$LOCALIZE[20037]. [CR][CR]$LOCALIZE[154]. [CR][CR]$LOCALIZE[705]. [CR][CR]$LOCALIZE[1212]. [CR][CR]$LOCALIZE[13281].</label>
      </control>
      <control type="label" description="LiveTV">
        <visible>Container(52).HasFocus(14)</visible>
        <width>660</width>
        <height>625</height>
        <font>size33</font>
        <wrapmultiline>true</wrapmultiline>
        <scroll>false</scroll>
        <aligny>top</aligny>
        <align>center</align>
        <label>$LOCALIZE[128]. [CR][CR]$LOCALIZE[19181]. [CR][CR]$LOCALIZE[19222]. [CR][CR]$LOCALIZE[14086]. [CR][CR]$LOCALIZE[20007]. [CR][CR]$LOCALIZE[14095]. [CR][CR]$LOCALIZE[19259]. [CR][CR]$LOCALIZE[19279].</label>
      </control>
    </control>
  </controls>
</window>
